	
	html, body{
		height:100%;
		margin:0;
	}

	.bg {
	background-image: url("../images/logo.jpeg");
	height:100%;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	}
	

	}
	.button {
		color:#276896;
		background: #ffffff;
		background-image: linear-gradient(to bottom, #ffffff, #8ba8ba);
		border-radius: 11px;
		box-shadow: 0px 1px 9px #666666;
		font-family: helvetica;
		font-size: 20px;
		font-weight:500;
		padding: 10px 20px 10px 20px;
		border: solid #787d80 2px;
		text-decoration: none;
		
	}
	.menuu li{
		float:left;

		display:block;
		padding:15px;

	}
	.menuu a{
		font-color:white;
		background-color:black;
		text-align:center;
		padding:14px 16px;
		}
	